.form {
  max-width: 385px;
}

.form__fieldset {
  padding: 0;
  margin: 0;
  border: none;
}

.form__label {
  margin-bottom: 32px;
  display: block;
  font-family: "Inter", "Arial", san-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.form__label_type_checkbox {
  display: flex;
  justify-content: center;
  margin: 0;
}

.form__input {
  display: block;
  padding: 0;
  margin-top: 8px;
  width: 100%;
  height: 60px;
  box-sizing: border-box;
  border-radius: 10px;
}

.form__input::placeholder {
  padding-left: 10px;
}

.form__button {
  width: 100%;
  height: 60px;
  padding: 0;
  margin-bottom: 32px;
  font-family: "Inter", "Arial", san-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  background-color: #2f80ed;
  border: none;
  border-radius: 10px;
  color: #ffffff;
  transition: opacity 1s;
}

.form__button:hover {
  opacity: 70%;
  cursor: pointer;
}

.form__checkbox {
  width: 20px;
  height: 20px;
  margin: 0 12px 0 0;
}
