.header {
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-height: 720px;
  max-height: 800px;
  padding: 30px 80px 40px;
  Background-image: url("../images/background_header.svg");
}

.header__title{
  max-width: 729px;
  font-size: 60px;
  line-height: 72px;
  margin:183px 0 0;
  letter-spacing: -0.6px;
  font-weight: 500;
}

.header__span-accent{
	display:block;
	font-family: "Noto Serif", "Arial", san-serif;
	font-style: italic;
	font-size: 60px;
	color: #2F80ED;
}

.header__image{
  z-index: 1;
  position: absolute;
  max-width: 636px;
  top: 124px;
  right: 5px;
}

.header__description {
  font-size: 20px;
  line-height: 30px;
  margin: 28px 0 0;
  max-width: 683px;
  font-family: "Noto Serif", "Arial", san-serif;
  font-size: 20px;
  line-height: 30px;
}

.header__footer {
  display: flex;
  justify-content: space-between;  
  margin: auto;  
  width: 100%;
  align-items: center;
  box-sizing: border-box;
}

.header__paragraph{
  margin-top: auto;
  color: #6F6F6F;
  line-height: 20px;
  font-size: 16px;
  font-weight: 500;
  position: relative;
  z-index: 1;
}
